@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
.droit {
  background-color: white;
  color: black;
}
.gauche {
  background-color: rgb(237, 225, 198);
  color: black;
}
.img {
  /* width: 300px; */
  height: 400px;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.para {
  padding: 5px;
  margin: 30px;
}
.htext {
  color: burlywood;
  margin-left: 150px;
}
.para2 {
  margin-left: 50px;
  padding: 10px;
}
.flex {
  display: flex;
}
.flex__paragraph {
  padding: 0px 30px;
}
